body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header h1 {
  text-align: center;
  font-size: 3.5rem;
  padding: 150px;
}

hr {
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

#preview, #editor {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 25px;
}

#editor {
  width: 78vw;
  border: 1px solid black;
  border-radius: 8px;
}

#prev-container {
  width: 80vw;
  border: 1px solid gainsboro;
  padding-bottom: 50px;
  border-radius: 8px;
}

#preview h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  width: 95%;
}

#preview p {
  margin: 30px 0;
}

#preview a {
  text-decoration: none;
}

#preview code {
  background-color: gainsboro;
  padding: 2px;
}

#preview pre {
  padding: 2px;
  background-color: gainsboro;
  width: 95%;
}

#preview blockquote {
  color: gray;
  border-left: 2px solid gray;
  margin-left: 30px;
  padding-left: 15px;
}

#preview img {
  width: 100%;
  margin: 30px 0;
}

.how-to h2 {
  text-align: center;
  font-size: 2.1rem;
  padding: 50px;
}

.tutorial-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.tutorial-point {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tutorial-point p {
  margin: 5px 0;
  padding: 5px 0;
}

.alt-bg p {
  background-color: gainsboro;
}